<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1065" key="7e804f17-8bc5-4500-a2a8-25e8107f79f0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-06-14T09:08:24" updateDate="2017-06-17T15:27:31" nodeName="HomePage" urlName="homepage" path="-1,1065" isDoc="" nodeType="1063" creatorName="Frank Laumann" writerName="Frank Laumann" writerID="0" template="1062" nodeTypeAlias="home">
    <pageTitle><![CDATA[Randers VK]]></pageTitle>
    <headerImage><![CDATA[umb://media/fb2c3d1d0fff4ea3b46e6fbb5b67b98b]]></headerImage>
    <pageName><![CDATA[Forside]]></pageName>
    <news><![CDATA[umb://media/3b312bf2248e469a8cb67fe528c9ac8e,umb://media/327d85cfb15d4cf394c63376f56f0801,umb://media/2121cc01108945e8bfa49eee0ad5f6df]]></news>
    <frontImage><![CDATA[umb://media/182159f9fe39430d8378a0f43958dff0]]></frontImage>
    <sponsorer><![CDATA[umb://media/eaa3281ae8fd4c6b86a9d8940fc36085,umb://media/f045d8a4091745f3a0d9aa8571d43b87,umb://media/6485e489e1934455b80719ed170e542c,umb://media/ccfd3ec799bb4b0298d8a22ce6c37415,umb://media/f67e36a9267b47db8b1ccf30de7bb446,umb://media/1fffbff1f45b4344887b1dbbc1b2bca8,umb://media/f20866d19f4747fd9209ba5ba5a26ec2]]></sponsorer>
  </home>
</root>